[API]
api_base_url			= {{demo_api_base_url}}
api_token				=  {{demo_api_token}}
api_content_flag_reject = {{demo_api_content_flag_reject}}
profile_id = {{demo_profile_id}}
cassandra_host = {{demo_cassandra_host}}
cassandra_port = 9042

